
<div class="row">
  <div class="small-12 columns">

    <h1>Node Dependency Check</h1>
    <p>Check your project against the latest npm modules</p>
    
    <p>{{ packages.length }} updates available for {{ repo }}{{#if dev}} including dev dependencies{{/if}}</p>

    <ul>
      {{#each packages}}
        <li>
          <a href="https://www.npmjs.org/package/{{ name }}">{{ name }}</a><br>
          Installed: {{ current }} Latest: {{ latest }}
        </li>
      {{/each}}
    </ul>

    <h2>Check again...</h2>

    <form action="/check" method="GET">
      <div class="row inline">
        <div class="small-12 columns">
          <label for="git">git repo clone URL:</label>
          <input type="text" name="git-repo" id="git" placeholder="e.g https://github.com/petecoop/npm-check-latest.git" value="{{ repo }}">
        </div>
        
        <div class="small-12 columns">
          <input type="checkbox" name="dev" id="dev" value="1" {{#if dev}}checked{{/if}}>
          <label for="dev">Check Dev Dependencies</label>
        </div>
        
        <div class="small-12 columns">
          <button type="submit" class="success">Go</button>
        </div>
      </div>
    </form>
    

  </div>
</div>